body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fef3f7;
  color: #333;
}

button {
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}
